[Unit]
Description=Anbox Container Manager

[Service]
ExecStart=/usr/lib/systemd/scripts/anbox-container-manager

[Install]
WantedBy=multi-user.target
